<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCategoryServlet</servlet-name>
        <servlet-class>controller.ManagerCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductServlet</servlet-name>
        <servlet-class>controller.ManagerProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickSearchServlet</servlet-name>
        <servlet-class>controller.QuickSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertImageServlet</servlet-name>
        <servlet-class>controller.InsertImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImageServlet</servlet-name>
        <servlet-class>controller.UpdateImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelImageServlet</servlet-name>
        <servlet-class>controller.DelImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCpuServlet</servlet-name>
        <servlet-class>controller.ManagerCpuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProducerServlet</servlet-name>
        <servlet-class>controller.InsertProducerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProducerServlet</servlet-name>
        <servlet-class>controller.UpdateProducerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelProducerServlet</servlet-name>
        <servlet-class>controller.DelProducerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>controller.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerBillServlet</servlet-name>
        <servlet-class>controller.ManagerBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCategoryServlet</servlet-name>
        <servlet-class>controller.CheckCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutAdminServlet</servlet-name>
        <servlet-class>controller.LogOutAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCategoryServlet</servlet-name>
        <url-pattern>/ManagerCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductServlet</servlet-name>
        <url-pattern>/ManagerProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickSearchServlet</servlet-name>
        <url-pattern>/QuickSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertImageServlet</servlet-name>
        <url-pattern>/InsertImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImageServlet</servlet-name>
        <url-pattern>/UpdateImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelImageServlet</servlet-name>
        <url-pattern>/DelImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCpuServlet</servlet-name>
        <url-pattern>/ManagerCpuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProducerServlet</servlet-name>
        <url-pattern>/InsertProducerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProducerServlet</servlet-name>
        <url-pattern>/UpdateProducerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelProducerServlet</servlet-name>
        <url-pattern>/DelProducerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerBillServlet</servlet-name>
        <url-pattern>/ManagerBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCategoryServlet</servlet-name>
        <url-pattern>/CheckCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutAdminServlet</servlet-name>
        <url-pattern>/LogOutAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
